main {
    width: 100%;

}

.board {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 70px;
}

.headline {
    padding-bottom: 102px;
    width: 100%;
    height: 51px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 3px;
}

.category {
    width: 280px;
    padding-right: 30px;
}

.categoryHead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    max-width: 240px;
    align-items: center;
}

.categoryHead img {
    border: 2px solid var(--primary);
    border-radius: 6px;
    height: fit-content;
}

.categoryHead span {
    font-weight: bold;
    font-size: 23px;
}

.categoryCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.categoryName {
    font-size: 16px;
    width: fit-content;
    border-radius: 6px;
    background-color: blue;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.categoryCard span {
    /* font-size: var(--font-h6); */
    font-size: 19px;
    font-weight: bold;
    color: var(--primary);
    padding-top: 12px;
    padding-bottom: 12px;
}

.categoryCard p {
    font-size: 16px;
    color: var(--gray-light);
}

.cardContent {
    padding-bottom: 12px;
}

#progressDiv {
    padding-bottom: 12px;
    font-size: 13px;
}

progress{
    width: 110px;
}

#cardMembers {
    display: flex;
    gap: 12px;
}

.cardMember {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white !important;
    border-radius: 100%;
    padding: 6px;
    border: 2px solid white;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
}



.noColum {
    display: flex;
    gap: 30px;
}

.searchDiv {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-light);
    padding: 6px;
    border-radius: 10px;
}

.searchDiv img {
    height: 36px;
    width: 36px;
    padding-left: 12px;

}

.searchDiv hr {
    height: 31px;
    color: var(--gray-light);
}

.search {
    border: none;
    padding-left: 24px;
}

#boardPopup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 90, 90, 0.2);
    z-index: 500;
}

#popupCategory {
    position: absolute;
    min-height: 400px;
    max-height: 800px;
    min-width: 200px;
    max-width: 623px;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

.popupCategoryName {
    font-size: 16px;
    width: fit-content;
    border-radius: 6px;
    background-color: blue;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 18px;
}

.popupCardHeadline {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 18px;
}

.popupCardContent {
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.popupSpan {
    font-weight: bold;
}

.popupTopics {
    padding-bottom: 18px;
}

.popupCardMember {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white !important;
    border-radius: 100%;
    padding: 6px;

}

.popupCardMembers p {
    display: flex;

}

.popupCardMemberDiv {
    display: Flex;
    align-items: center;
    padding-top: 18px;
    gap: 8px;
}

.popupCategoryNameDiv {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.popupPriorityIcon {
    background-color: lightgray;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

.displayFlexGap8 {
    display: flex;
    gap: 8px;
}

.showPopup {
    animation: moveUp 250ms ease-in-out;
}

@keyframes moveUp {
    from {
        top: 1800px;
    }

    to {
        top: 400px;

    }
}

.hidePopup {
    animation: moveDown 250ms ease-in-out;
}

@keyframes moveDown {
    from {
        top: 400px;
    }

    to {
        top: 1800px;

    }
}

#slideIn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 90, 90, 0.2);
    z-index: 500;
}

#slideInCategory{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: scroll;
}
.addTask p{
    font-size: 48px;
    font-weight: bold;
}

.close{
    display: flex;
    justify-content: flex-end;
}

.editPopUp{
    position: absolute;
    min-height: 400px;
    max-height: 800px;
    min-width: 200px;
    max-width: 623px;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

#editPopUp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 90, 90, 0.2);
    z-index: 800;
    
}


#editpriority {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#editpriority input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#editpriority .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#editpriority input[type="radio"]:checked + label[for="urgent"] {
    color: var(--white);
    background: var(--urgent);
}

#editpriority input[type="radio"]:checked + label[for="medium"] {
    color: var(--white);
    background: var(--medium);
}

#editpriority input[type="radio"]:checked + label[for="low"] {
    color: var(--white);
    background: var(--low);
}

#editpriority label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: var(--font-h6);
    box-shadow: var(--shadow-small);
    cursor: pointer;
}

#editpriority label:hover {
    background: var(--primary-light);
}

#editpriority i[class*="urgent"] {
    background-image: url(/assets/icons/urgent.svg);
}

#editpriority i[class*="medium"] {
    background-image: url(/assets/icons/medium.svg);
}

#editpriority i[class*="low"] {
    background-image: url(/assets/icons/low.svg);
}

#editpriority input[type="radio"]:checked + label[for="urgent"] i {
    background-image: url(/assets/icons/urgent_white.svg);
}

#editpriority input[type="radio"]:checked + label[for="medium"] i {
    background-image: url(/assets/icons/medium_white.svg);
}

#editpriority input[type="radio"]:checked + label[for="low"] i {
    background-image: url(/assets/icons/low_white.svg);
}