main {
    width: 100%;
}

.board {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 70px;
}

.headline {
    padding-bottom: 30px;
    width: 100%;
}

.headline .noColum{
    flex-wrap: wrap;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3px;
    justify-content: space-between;
}

.category {
    width: 280px;
    padding-top: 24px;
    padding: 8px;
    position: relative;
    height: 600px;
    background: white;
    z-index: 3;
}

.categoryHead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px; /*  70px */
    max-width: 240px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 200;
}

.categoryHead img {
    border: 2px solid var(--primary);
    border-radius: 6px;
    height: fit-content;
}

.categoryHead img:hover {
    scale: 1.2;
    transition: all 0.24s ease-in-out;
}

.categoryHead span {
    font-weight: bold;
    font-size: 23px;
}

.statusDiv {
    height: 100%;
    padding: 6px;
    overflow-y: scroll;
}

.categoryCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: white;
}

.categoryName {
    font-size: 16px;
    width: fit-content;
    border-radius: 6px;
    background-color: blue;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.categoryCard span {
    font-size: 19px;
    font-weight: bold;
    color: var(--primary);
    padding-top: 12px;
    padding-bottom: 12px;
}

.categoryCard p {
    font-size: 16px;
    color: var(--gray-light);
}

.cardContent {
    padding-bottom: 12px;
}

#progressDiv {
    padding-bottom: 12px;
    font-size: 13px;
}

progress {
    width: 110px;
}

#cardMembers {
    display: flex;
    gap: 12px;
}

.cardMember {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white !important;
    border-radius: 100%;
    padding: 6px;
    border: 2px solid white;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
}

.noColum {
    display: flex;
    gap: 30px;
}

.searchDiv {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-light);
    padding: 6px;
    border-radius: 10px;
}

.searchDiv img {
    height: 36px;
    width: 36px;
    padding-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.searchDiv hr {
    height: 31px;
    color: var(--gray-light);
    background-color: var(--gray-light);
}

.search {
    border: none;
    outline: none;
    padding-left: 24px;
}



.displayFlexGap8 {
    display: flex;
    gap: 8px;
}

#slideIn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 90, 90, 0.2);
    z-index: 5;
    backdrop-filter: blur(4px);
}

#slideInCategory {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: scroll;
}

.addTask {
    padding-top: 60px;
}

.addTask p {
    font-size: 48px;
    font-weight: bold;
}

.close {
    float: right;
}

.new-task [for="title"] {
    font-size: var(--font-h6);
    font-weight: 700;
    color: var(--font);
    margin-bottom: 8px;
}

.editMenu {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row !important;
}

.headlineSubtask {
    border-bottom: 1px solid var(--gray-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
}

.editDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineSubtask input {
    border-bottom: none !important;
    font-size: var(--font-h6) imo !important;
}

.subtaskDiv {
    padding-top: 6px;
}


@media (max-width: 700px) {
    .board {
        width: auto;
        padding: 32px;
    }

    .noColum {
        flex-direction: column;
    }

    .searchDiv {
        width: 220px;
    }

    .search {
        width: 160px;
    }

    .noColum button {
        display: none !important;
    }

    .headline {
        height: auto;
        padding-bottom: 16px;
    }

    .categories {
        overflow-y: visible;
    }

    .category {
        width: 90%;
        padding-right: 16px;
        max-width: 280px;
    }

    .categoryHead {
        padding-bottom: 16px;
        max-width: 280px;
    }

    #slideInCategory {
        position: unset;
        border-radius: 0;
        height: 100%;
    }

    .addTask {
        padding-top: 0;
    }

    .create_Task_Button {
        top: 12px !important;
        width: auto !important;
    }

    .createShort {
        display: inline !important;
    }

    .createLong {
        display: none;
    }

    .mobileHead {
        display: flex !important;
        background-color: white;
        box-shadow: var(--shadow-medium);
        width: unset !important;
    }

    .header{
        display: none;
    }

    #newTask{
        margin: 0 !important;
        padding: 0;
        height: 100%;
        width: unset !important;
    }

    #popupCategory{
        border-bottom-left-radius: 32px;
        border-top-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0;
        height: 85%;
        padding-top: 64px;
        max-height: unset;
    }

    .editPopUp{
        border-bottom-left-radius: 32px;
        border-top-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 0;
        height: auto;
        max-height: unset;
    }

}

@media (max-width: 550px) {
    .category {
        width: 90%;
        padding-right: 16px;
        max-width: 320px;
    }

    .categoryHead {
        padding-bottom: 16px;
        max-width: 320px;
    }
}

.create_Task_Button {
    position: absolute;
    top: 92px;
    right: 32px;
    width: 180px;
}

.newTask {
    width: 446px;
    margin: 41px 0px;
}

.createShort {
    display: none;
}

.mobileHead {
    display: none;
    height: 80px;
    align-items: center;
    padding: 1px 39px;

}