.contacts {
    display: grid;
    grid-template-columns: 450px 1fr;
}

.contacts-container {
    position: relative;
    padding: 16px 65px;
    box-shadow: var(--shadow-medium);
    overflow-x: auto;
}

.add-contact {
    position: fixed;
    right: 48px;
    bottom: 64px;
}

.add-contact img {
    width: 33px;
    height: 30px;
    margin-left: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    min-height: 77px;
    padding: 15px 25px;
    font-size: var(--font-h6);
    user-select: none;
}

.contact:hover {
    background: var(--primary-light);
    border-radius: 8px;
    cursor: pointer;
}

.contact:active {
    background: var(--primary);
}

.contact div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border: 1px solid var(--white);
    border-radius: 100%;
    font-size: var(--font-label);
    color: var(--white);
    background-color: blueviolet;
}

.contact div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact div:last-child span:last-child {
    font-size: var(--font-body);
    color: var(--secondary);
}

.contact-seperator {
    height: 60px;
    margin-bottom: 12px;
    padding: 18px 40px;
    border-bottom: 2px solid var(--primary-light);
    font-size: var(--font-h6);
}

.contacts-details {
    padding-top: 60px;
    padding-left: 65px;
}

.contacts-details img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.detail-header {
    display: flex;
    gap: 54px;
    font-size: var(--font-h1);
    font-weight: 500;
}

.detail-header div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border: 3px solid var(--white);
    border-radius: 100%;
    color: white;
    background: blueviolet;
}

.add-task {
    font-size: var(--font-body);
    color: var(--primary);
    margin-top: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.detail-body {
    font-weight: 700;
}

.detail-body a {
    font-weight: 400;
    color: var(--primary);
    text-decoration: none;
}

.heading {
    display: flex;
    align-items: flex-end;
    gap: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: var(--font-h5);
    white-space: nowrap;
}

.edit-contact {
    font-size: var(--font-body);
    font-weight: 400;
    color: var(--primary);
    cursor: pointer;
    white-space: nowrap;
}

.information div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}


@media screen and (max-width: 700px) {
    .contacts {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .contacts section:first-child {
        padding: 16px 24px;
    }

    .contacts section:last-child {
        display: none;
    }

    .add-contact {
        position: relative;
        inset: 0;
        display: block;
        margin-left: auto;
    }
}