/* Contacts Container */
.contacts {
    display: grid;
    grid-template-columns: 450px 1fr;
}

.contacts-container {
    position: relative;
    padding: 16px 65px;
    box-shadow: var(--shadow-medium);
    overflow-x: auto;
}

.add-contact {
    position: fixed;
    right: 48px;
    bottom: 64px;
}

.add-contact img {
    width: 33px;
    height: 30px;
    margin-left: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    min-height: 77px;
    padding: 15px 25px;
    font-size: var(--font-h6);
    user-select: none;
}

.contact:hover {
    background: var(--primary-light);
    border-radius: 8px;
    cursor: pointer;
}

.contact:active {
    background: var(--primary);
}

.contact div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border: 1px solid var(--white);
    border-radius: 100%;
    font-size: var(--font-label);
    color: var(--white);
    background-color: blueviolet;
}

.contact div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact div:last-child span:last-child {
    font-size: var(--font-body);
    color: var(--secondary);
}

.contact-seperator {
    height: 60px;
    margin-bottom: 12px;
    padding: 18px 40px;
    border-bottom: 2px solid var(--primary-light);
    font-size: var(--font-h6);
}

/* Contact Details */
.contacts-details {
    padding-top: 60px;
    padding-left: 65px;
}

.contacts-details img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.detail-header {
    display: flex;
    gap: 54px;
    font-size: var(--font-h1);
    font-weight: 500;
}

.detail-header div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border: 3px solid var(--white);
    border-radius: 100%;
    color: white;
    background: blueviolet;
}

.add-task {
    font-size: var(--font-body);
    color: var(--primary);
    margin-top: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.detail-body {
    font-weight: 700;
}

.detail-body a {
    font-weight: 400;
    color: var(--primary);
    text-decoration: none;
}

.heading {
    display: flex;
    align-items: flex-end;
    gap: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: var(--font-h5);
    white-space: nowrap;
}

.edit-contact {
    font-size: var(--font-body);
    font-weight: 400;
    color: var(--primary);
    cursor: pointer;
    white-space: nowrap;
}

.information div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

/* Modal */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    z-index: 9;
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 580px;
    border-radius: 0 30px 30px 30px;
    background: var(--white);
    box-shadow: var(--shadow-small);
    overflow: hidden;
    z-index: 9;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 360px;
    background: var(--primary);
    box-shadow: var(--shadow-small);
}

.modal-header img {
    width: 55px;
    height: 66px;
}

.modal-header span {
    font-size: var(--font-h1);
    font-weight: 700;
    color: var(--white);
}

#close-modal {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding: 40px 80px 0 80px;
}

.modal-body>img {
    width: 120px;
    height: 120px;
}

.modal-body input {
    width: 100%;
    font-size: var(--font-h6);
    padding: 12px 22px;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    outline: none;
}

.modal-body>div:last-child {
    display: flex;
    gap: 25px;
}

.modal-body ::placeholder {
    color: var(--gray-light);
}

.contact-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.contact-data input:nth-child(1) {
    background: url('./../assets/icons/user.svg') no-repeat right 25px center;
    background-size: 24px 24px;
}

.contact-data input:nth-child(2) {
    background: url('./../assets/icons/mail.svg') no-repeat right 25px center;
    background-size: 20px 20px;
}

.contact-data input:nth-child(3) {
    background: url('./../assets/icons/phone.svg') no-repeat right 25px center;
    background-size: 24px 24px;
}

.modal-slide-in {
    animation: modal-slide-in 0.5s ease-in-out;
}

.modal-background-blur {
    animation: background-blur 0.5s linear;
}


@media screen and (max-width: 700px) {
    .contacts {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .contacts section:first-child {
        padding: 16px 24px;
    }

    .contacts .contacts-details {
        display: none;
    }

    .add-contact {
        position: relative;
        inset: 0;
        display: block;
        margin-left: auto;
    }

    .modal-content {
        right: 0;
        width: 100%;
        border-radius: 0;
        overflow-y: auto;
    }

    .modal-header {
        border-radius: 0;
    }
}


@keyframes modal-slide-in {
    from {
        left: -600px;
    }

    to {
        left: 0px;
    }
}

@keyframes background-blur {
    from {
        backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(4px);
    }
}