.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    height: 98px;
    background: var(--primary);
    box-shadow: var(--shadow-medium);
}

.header > img {
    width: 47px;
}

.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.header span {
    font-size: var(--font-h6);
    color: var(--white);
    white-space: nowrap;
}

.header a {
    display: flex;
}

.header > div > div {
    position: relative;
}

.header-modal {
    position: absolute;
    right: 0;
    top: 79px;
    padding: 10px 18px;
    font-size: var(--font-h6);
    color: var(--primary);
    border-radius: 20px 0 20px 20px;
    box-shadow: var(--shadow-medium);
    background: var(--white);
    cursor: pointer;
    z-index: 2;
}

.header-modal > div {
    padding: 8px 16px;
    border-radius: 10px;
}

.header-modal > div:hover {
    background: var(--primary-light);
}

.profile-picture {
    width: 54px;
    height: 54px;
    padding: 2px;
    border: 3.5px solid var(--white);
    border-radius: 100%;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .header {
        height: 80px;
    }

    .header > img {
        width: 32px;
    }

    .header span {
        display: none;
    }

    .header a {
        display: none;
    }

    .profile-picture {
        width: 44px;
        height: 44px;
    }

    .header-modal {
        top: 64px;
    }
}