.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    height: 98px;
    background: var(--primary);
    box-shadow: var(--shadow-medium);
    z-index: 2;
}

.header > img {
    width: 47px;
}

.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.header span {
    font-size: var(--font-h6);
    color: var(--white);
    white-space: nowrap;
}

.header a {
    display: flex;
}

.header > div > div {
    position: relative;
}

.header-modal {
    position: absolute;
    right: 0;
    top: 79px;
    padding: 10px 18px;
    font-size: var(--font-h6);
    color: var(--primary);
    border: 1px solid var(--gray-light);
    border-radius: 20px 0 20px 20px;
    box-shadow: var(--shadow-medium);
    background: var(--white);
    cursor: pointer;
    z-index: 2;
}

.header-modal > a {
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.header-modal > a:hover {
    background: var(--primary-light);
}

.profile-picture {
    width: 54px;
    height: 54px;
    padding: 2px;
    border: 3.5px solid var(--white);
    border-radius: 100%;
    cursor: pointer;
}

.notification {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    max-width: 200px;
    height: fit-content;
    padding: 16px;
    border-radius: 10px;
    font-size: var(--font-label);
    font-weight: 700;
    color: white;
    background: var(--primary);
    box-shadow: var(--shadow-medium);
    z-index: 10;
}


.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

.fade-out {
    animation: fade-out 0.5s ease-in-out;
}


@media screen and (max-width: 700px) {
    .header {
        height: 80px;
    }

    .header > img {
        width: 32px;
    }

    .header span {
        display: none;
    }

    .profile-picture {
        width: 44px;
        height: 44px;
    }

    .header-modal {
        top: 64px;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}