.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    height: 98px;
    background: var(--primary);
    box-shadow: var(--shadow-medium);
}

.header > img {
    width: 47px;
}

.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.header span {
    font-size: var(--font-h6);
    color: var(--white);
    white-space: nowrap;
}

.header a {
    display: flex;
}

.profile-picture {
    width: 54px;
    height: 54px;
    padding: 2px;
    border: 3.5px solid var(--white);
    border-radius: 100%;
    cursor: pointer;
}