main {
    overflow: auto;
}

.legal {
    padding: 60px 60px 32px 60px;
}

.legal h1 {
    font-size: var(--font-h1);
    color: var(--primary);
    margin-bottom: 34px;
}

.legal h2 {
    font-size: var(--font-h4);
    color: var(--primary);
    margin-bottom: 10px;
}

.legal h3 {
    font-size: var(--font-h3);
    color: var(--primary);
    margin-bottom: 10px;
}

.legal p {
    font-size: var(--font-body);
    text-align: justify;
    margin-bottom: 35px;
}

.legal ul {
    margin-bottom: 35px;
}


@media screen and (max-width: 700px) {
    .legal {
        padding: 40px 32px 32px 32px;
    }

    .legal h3 {
        font-size: var(--font-h5);
    }
}