body {
    background-color: var(--primary);
}

#startView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#logInMain {
    position: absolute;
    top: 25px;
    left: 25px;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    border-radius: 16px;
    height: 300px;
    width: 500px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    background-color: white;
}

#cardHead {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

#cardHead h1{
    text-decoration-line: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 24px;
}

.cardHeadIcon {
    position: absolute;
    left: 25px;
    cursor: pointer;
}

#cardInput {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

#cardCheckBox {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

#card form {
    width: 60%;
}

#cardButtons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.btn {
    padding: 4px 10px;
    font-size: 14px;
    color: var(--white);
    background: var(--primary);
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}

.btnBlue:hover {
    background-color: var(--secondary);
    color: white;
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 30%);
}

.btnWhite {
    background-color: var(--white);
    border: 2px solid gray;
    color: gray;
}

.btnWhite:hover {
   color: var(--primary);
   border-color: var(--primary);
   box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 30%);
}

.noBorder {
    border: none;
}

.flexBoxEnd {
    display: flex;
    justify-content: flex-end;
}

.flexBoxSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.headRight {
    width: 20%;
    margin: 24px;
}