main {
    overflow-y: auto;
    width: 100%;
}

.new-task {
    width: 422px;
    margin: 40px 85px;
}

.new-task form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.new-task form>div {
    display: flex;
    flex-direction: column;
}

.new-task [for="date"],
.new-task [for="category"],
.new-task [for="description"],
.new-task [for="subtasks"] {
    font-size: var(--font-h6);
    font-weight: 700;
    color: var(--font);
    margin-bottom: 8px;
}

.new-task *::placeholder {
    color: var(--gray-light);
}

.new-task input[type="text"] {
    font-size: var(--font-h2);
    padding: 12px 21px;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    outline: none;
}

.new-task input[type="date"] {
    font-size: var(--font-h6);
    padding: 12px 21px;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    outline: none;
}

.new-task select[id="category"] {
    font-size: var(--font-h6);
    padding: 12px 21px;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    outline: none;
}

.new-task select[id="category"] option::after {
    width: 10px;
    height: 10px;
    background: black;
}

/* .new-task input[type="date"] {

} */

.new-task textarea {
    font-size: var(--font-h6);
    padding: 12px;
    border: 1px solid var(--gray-light);
    border-radius: 0 10px 10px 10px;
}

/* Custom checkbox dropdown */
#assignee {
    position: relative;
    font-size: var(--font-h6);
    padding: 12px 21px;
    border: none;
    border-bottom: 1px solid var(--gray-light);
    outline: none;
}

.assignee-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.assignee-container {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    max-height: 300px;
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    box-shadow: var(--shadow-medium);
    overflow-x: auto;
}

.assignee-container > label {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    cursor: pointer;
}

.assignee-container > label:hover {
    background: var(--primary-light);
}


/* Custom radio buttons for priority selection */
#priority {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#priority input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#priority .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#priority i[class*="urgent"] {
    background-image: url(/assets/icons/urgent.svg);
}

#priority i[class*="medium"] {
    background-image: url(/assets/icons/medium.svg);
}

#priority i[class*="low"] {
    background-image: url(/assets/icons/low.svg);
}

#priority input[type="radio"]:checked + label[for="urgent"] i {
    background-image: url(/assets/icons/urgent_white.svg);
}

#priority input[type="radio"]:checked + label[for="medium"] i {
    background-image: url(/assets/icons/medium_white.svg);
}

#priority input[type="radio"]:checked + label[for="low"] i {
    background-image: url(/assets/icons/low_white.svg);
}

#priority input[type="radio"]:checked + label[for="urgent"] {
    color: var(--white);
    background: var(--urgent);
}

#priority input[type="radio"]:checked + label[for="medium"] {
    color: var(--white);
    background: var(--medium);
}

#priority input[type="radio"]:checked + label[for="low"] {
    color: var(--white);
    background: var(--low);
}

#priority label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: var(--font-h6);
    box-shadow: var(--shadow-small);
    cursor: pointer;
}

#priority label:hover {
    background: var(--primary-light);
}

.add-task {
    position: fixed;
    right: 48px;
    bottom: 64px;
}

.clear-task {
    position: fixed;
    right: 200px;
    bottom: 64px;
    height: 56px;
}


@media screen and (max-width: 700px) {
    main {
        width: 100%;
        overflow-x: auto;
    }

    .new-task {
        margin: 0;
        width: 100%;
        padding: 32px;
    }

    .new-task input[type="text"] {
        font-size: var(--font-h4);
    }

    .new-task [for="date"],
    .new-task [for="category"],
    .new-task [for="description"],
    .new-task [for="subtasks"] {
        font-size: var(--font-body);
    }

    .new-task input[type="date"] {
        font-size: var(--font-body);
    }
    
    .new-task select[id="category"] {
        font-size: var(--font-body);
    }

    .checkmark {
        font-size: var(--font-body);
    }
    
    #assignee {
        font-size: var(--font-body);
    }

    #priority .icon {
        width: 16px;
    }

    .assignee-container {
        top: 47px;
    }

    .add-task {
        position: static;
    }

    .clear-task {
        position: static;
    }
}

@media screen and (max-width: 350px) {
    #priority {
        grid-template-columns: 1fr;
    }
}
