<div class="navigation">
    <ul>
        <li>
            <a href="/summary.html" id="summary-desktop">
                <img src="./assets/icons/summary.svg">
                <span>Summary</span>
            </a>
        </li>
        <li>
            <a href="/board.html" id="board-desktop">
                <img src="./assets/icons/board.svg">
                <span>Board</span>
            </a>
        </li>
        <li>
            <a href="/task.html" id="task-desktop">
                <img src="./assets/icons/task.svg">
                <span>Add Task</span>
            </a>
        </li>
        <li>
            <a href="/contacts.html" id="contacts-desktop">
                <img src="./assets/icons/contacts.svg">
                <span>Contacts</span>
            </a>
        </li>
        <li>
            <a href="/legal.html" id="legal-desktop">
                <img src="./assets/icons/info.svg">
                <span>Legal Notice</span>
            </a>
        </li>
    </ul>
</div>
<div class="navigation-mobile">
    <ul>
        <li>
            <a href="/summary.html" id="summary-mobile">
                <img src="./assets/icons/summary.svg">
                <span>Summary</span>
            </a>
        </li>
        <li>
            <a href="/board.html" id="board-mobile">
                <img src="./assets/icons/board.svg">
                <span>Board</span>
            </a>
        </li>
        <li>
            <a href="/task.html" id="task-mobile">
                <img src="./assets/icons/task.svg">
                <span>Add Task</span>
            </a>
        </li>
        <li>
            <a href="/contacts.html" id="contacts-mobile">
                <img src="./assets/icons/contacts.svg">
                <span>Contacts</span>
            </a>
        </li>
    </ul>
</div>